**/__pycache__/*
.DS_store
.vscode
TODO.txt
images/
logs/
models/
dist/
*.lock
/experiments/results
/path_planning/rta/plots
/path_planning/rta/testing/plots
path_planning/rta/data/
cps_coordination/data/
*.png
*.parquet
*.tex

graphify-out/
.claude/